

    map(function,iterables)

    right most element in  multi dim array shows that it is one d array 
    if we write a[2][3]  that means 2  " 1 ds " arrays with 

    address allocation continuous only it follows the formula "  "

    order can be arrangement with some common diff
    sequence can be just one after another